:root {
    --primary-text-color: #757575;
    --title-text-color:  #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-whit-color: color: rgba(255, 255, 255, 0.6);
    --medium-bg-color: #E5E5E5;
    --end-bg-color: #F5F4FA;
    --futer-bg-color: #2F303A;
    --header-border-color: #ECECEC;
    --portfolio-border-color:  #EEEEEE;
    --hero-bg-color: #C4C4C4;
    --social-links-main-color: AFB1B8;
    --klients-main-color: AFB1B8;
    --btn-bg-hover-color: #188CE8;
    --klients-color: #AFB1B8;
    --bg-color-icon: rgba(255, 255, 255, .1);
    --bg-overlay-color: rgba(33, 150, 243, 0.9);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}

h1,
h2,
h3,
p {

margin: 0;
} 

.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.header {
    border-bottom: 1px solid var(--header-border-color);
}  

/* Logo */
.logo {
    margin-right: 93px;
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;

}

.logo-accent {
    color: var(--title-text-color);
    
}

.logo-footer {
    color: var(--primary-white-color);
    
}

.logo-next {
    margin-right: 0;
}

/* Main-Naw */

.main-naw {
    display: flex;
    align-items: center;
}
    /* Navigation */

.site-nav {
    display: flex;
}


.site-nav .item:not(:last-child) {
    margin-right: 50px;
}


.site-nav .link {
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    position: relative;
    color: var(--accent-color);  
    

}

.site-nav .current:after {
position: absolute;
bottom: 0;
left: 0; 
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px; 

    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 2px 2px rgba(0, 0, 0, 0.75); 
    border-radius: 2px;
    
}



/* Auth-Naw */
.auth-nav {
    display: flex;
    margin-left: auto;
    
    
}

.auth-nav .link {
    display: flex;
    align-items: center;
    
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .item + .item {
    margin-left: 50px;
}


.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
    fill: currentColor;
}



.auth-nav-icon {
    fill: currentColor;
    margin-right: 10px;
}


/* Visually-hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Button  */

.button {
    display: inline-block;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);


}
.button.primary:hover,
.button.primary:focus {
background: var(--btn-bg-hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}



 /* Hero */

.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
    background-color: var(--hero-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {

    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }


/* Background color section */

.section.team {
    background-color: var(--end-bg-color);
}

.footer {
    background-color: var(--futer-bg-color);
}

/* Section */

.section-title {
    
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

/* Peculiarities */
.feature {
    padding-top: 94px;
    padding-bottom: 94px;
}
.feature-list {
    display: flex;
}

.feature-list .item {
width: 270px;
}

.feature-list .item:not(:last-child) {
    margin-right: 30px;
}



.feature-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--end-bg-color);
}

.feature-title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-text {
line-height: 1.71;
}

/* What are we doing */

.section.do {
padding-bottom: 94px;
}
.img-list {
display: flex;
}

.img-list .item:not(:last-child) {
margin-right: 30px;
}

.are-doing-item {
position: relative;
    
}


.are-doing-text {
position: absolute;
bottom: 0;
left: 0;
display: flex;
width: 100%;
height: 70px;
align-items: center;
justify-content: center;
background: rgba(47, 48, 58, 0.8);
font-weight: 700;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
color: var(--primary-white-color);

}





/* Team section */
.section-team {
padding-top: 94px;
padding-bottom: 94px;
background-color: var(--end-bg-color);
}

.team {
display: flex;
}

.team .item:not(:last-child) {
margin-right: 30px;
}


.team .item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}
.team-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-text {
    
font-size: 16px;
line-height: 1.19;
text-align: center;
    
}


.social-link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
color: var(--klients-color);

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}


.social-link:hover,
.social-link:focus {
color: var(--primary-white-color);    
background-color: var(--accent-color);

}

.social-item:not(:last-child) {
margin-right: 10px;

}

.social-list {
display: flex;
justify-content: center;
margin-top: 16px;



}
.social-icon {
width: 20px; 
height: 20px;
fill: currentColor;
}


/* Klients */

.klients {
padding: 94px 0;
}

.klients-list {
display: flex;
    
}
.klints-flex {
display: flex;
justify-content: center;
}

.klient-link {
display: flex;
width: 170px;
height: 92px;
justify-content: center;
align-items: center;
color: var(--klients-color);
box-sizing:inherit;
border: 1px solid var(--klients-color);
border-radius: 4px;
fill: var(--klients-color);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

.klients-item:not(:last-child) {
    margin-right: 33px;
}

.klient-link:hover,
.klient-link:focus {
border-color: var(--accent-color);
fill: var(--accent-color);
}



/* Footer */
.footer {
padding-top: 60px;
padding-bottom: 60px;
}

.footer-adress {
    min-width: 231px;
}

.address-top {
margin-top: 20px;
}
.address {
font-style: normal;   
}

.address .item:not(:last-child) {
margin-bottom: 9px;
}

.address-place {
color: var(--primary-white-color);
line-height: 1.71; 
text-decoration: none;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-contact {
color: var(--secondary-whit-color);
line-height: 1.71;
text-decoration: none;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-contact:hover,
.address-contact:focus,
.address-place:hover,
.address-place:focus {
    color: var(--accent-color);
}

.footer-flex {
display: flex;
align-items: baseline;

}

.do-flex {
margin-left: 70px;
}


.do-list {
display: flex;
width: 206px;
}


.do-title {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
margin-bottom: 20px;

}

.do-link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
background-color: var(--bg-color-icon);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.do-item:not(:last-child) {
    margin-right: 10px;
}
.do-link:hover,
.do-link:focus {
background-color: var(--accent-color);
}
.do-icon {
fill: var(--primary-white-color);
}


.sign-up {
margin-left: auto;
}

.sign-up-form {
display: flex;
margin-top: 20px;
}

.sign-up-input {
width: 358px;
height: 50px;
background: #2F303A;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding-top: 15px;
padding-left: 16px;
padding-bottom: 15px;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-right: 12px;

}

.sign-up-btn {
position: relative;
display: flex;
align-items: center;
text-align: center;
width: 200px;
height: 50px;
color: var(--primary-white-color);
background-color: var(--accent-color);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 



}

.sign-up-btn:hover,
.sign-up-btn:focus {
box-shadow: inset 0 4px 4px  rgba(0, 0, 0, 0.15);
}

.sign-up-icon {
position: absolute;
top: 13px;
right: 28px;
display: inline-block;
width: 24px;
height: 24px;
background-image: url(../images/icon-send.svg);
background-repeat: no-repeat;
background-size: contain;


}


 /* Backdrop */
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(47, 48, 58, 0.4);  
visibility: visible;
opacity: 1;

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
}

.backdrop.is-hidden .modal {
transform: translate(-50%, -50%) scale(1.1);
}

.modal {
position: absolute;
top: 50%;
left: 50%;
width: 528px;
height: 581px;
background-color: rgba(255, 255, 255, 1); 
margin-left: auto;
margin-right: auto;
padding: 40px;
background: var(--primary-white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

 textarea {
resize: none;
}

.form {
width: 448px;
margin-left: auto;
margin-left: auto;
} 

.form-title {
display: flex;
justify-content: center;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
margin-bottom: 12px;

}

.form-field {
display: flex;
flex-direction: column;
position: relative;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
    

}

.form-field + .form-field {
margin-top: 10px;
} 

.form-icon {
position: absolute;
bottom: 10px;
left: 12px;
display: inline-block;
}

.policy-checkbox{
    margin-top: 20px;
}

.form-field label {
margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--primary-text-color);

}

.form-input {
margin: 0;
padding: 11px 12px 11px 42px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
cursor: pointer;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon{
fill: var(--accent-color);
}

.form-icon:hover,
.form-icon:focus {
 fill: currentColor;
}


.form-input:hover,
.form-input:focus-within,
.form-input:not(:placeholder-shown) {
outline: none;
border-color: var(--accent-color);
}



.comment {
padding: 12px 16px;
height: 120px; 
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
cursor: pointer;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.comment::placeholder {

font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
    }
    


.comment:hover,
.comment:focus-within,
.comment:not(:placeholder-shown) {
outline: none;
border-color: var(--accent-color);
}

.form-field-checkbox  {
position: relative;
display: inline-block;
display: flex; 
align-items: center;
height: 24px; 
padding-left: 36px;
margin-top: 20px;
}

.checkbox-label {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.checkbox-link {

text-decoration-line: underline;

color: var(--accent-color);

}


.checkbox {
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden; 

}

.checkbox:checked + .checkbox-icon {

background-image: url(../images/icon-check-color.svg);
} 
 

.checkbox-link {
color: var(--accent-color);
}

.checkbox-icon {
position: absolute;
top: 4px;
left: 13px;
display: inline-block;
width: 16px;
height: 15px; 
background-image: url(../images/icon-on.svg);
background-repeat: no-repeat;
background-size: contain;
background-origin: border-box;
transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);;

}

.checkbox:checked + .checkbox-icon {
background-image: url(../images/icon-check-color.svg);
} 

.checkbox-label {
margin-right: 3px;
}

.submit {
min-width: 200px;
padding: 10px 55px 10px 56px;
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.06em;
background-color: var(--accent-color);
border-color: transparent;
border-radius: 4px;
cursor: pointer;
color:var(--primary-white-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top: 30px;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 

.submit:hover,
.submit:focus {
background-color: var(--btn-bg-hover-color);
box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.15);

}


.modal-btn {
position: absolute;
display: inline-block;
top: 8px;
right: 8px;
width: 30px;
height: 30px; 
border: none;    
border-radius:  50%; 
cursor: pointer;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 

.modal-btn:hover,
.modal-btn:focus {
    color: var(--accent-color);
}


.modal-icon {
position: absolute;
top: 0;
right: 0px;

display: inline-block;
    
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
fill: currentColor;
  }  




/* Portfolio page */
.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -30px;
    margin-bottom: -30px;
    
}
.project-link {
    
display: block;

box-shadow: none;
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.project-link:hover,
.project-link:focus {

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-list {
    display: flex;
    justify-content: center;
    
}

.button-portfolio {
    
    padding: 6px 22px;
    background-color: var(--end-bg-color);
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list .item:not(:last-child) {
    margin-right: 8px;
}



.project-container {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-border-color);
    border-top: none;
}



.project-item {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
}



.project-title {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}
.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
  
}

/* Portfolio Thumb */

.project-thumb {
position: relative;
    
overflow: hidden;р 
    
}


.project-overlay {
position: absolute;
top: 0;
left: 0;
display: inline-block;
content: "";
width: 100%;
height: 100%;
background-color: var(--bg-overlay-color);
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
z-index: 1;    
    
}


.project-link:hover .project-overlay,
.project-link:focus .project-overlay  {
transform: translateY(0);  

} 


 .project-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

display: inline-block;
    
z-index: 2;
width: 322px;
height: 168px;
    
font-size: 18px;
line-height: 1.56;
color: var(--primary-white-color); 
}