$fontFamilyLogo: 'Raleway', sans-serif;
$fontWeightLogo: 700;
$fontSizeLogo: 26px;
$lineHeightLogo: 1.17;



.logo {
    {
        margin-right: 93px;
        color: $accent-color;
        font-family: $fontFamilyLogo;
        font-weight: $fontWeightLogo0;
        font-size: $fontSizeLogox;
        line-height: $lineHeightLogo7;
        text-decoration: none;
    
    }
    
    &--accent {
        color: $titleTextColor;
        
    }
    
    &__logo {
        margin-right: 0;
    }
    
    &__logo--accent {
        color: $primaryWhiteColor;
        
    }
} 